<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "DateStamp";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(byte),
			"DayOfMonth",
			"DayOfMonth"
			);
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(byte),
			"MonthsSince2001",
			"MonthsSince2001"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);
#>
<#@ include file="DataTypeTemplate.t4" once="true" #>