<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "FormID";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(uint),
			"RawValue",
			""
			);
	tempField.implementReadXML = false;
	tempField.implementWriteXML = false;
	template.hashKey = tempField;
	tempField.sortIndex = 0;
	tempField.isReadOnly = true;
	template.Fields.Add(tempField);
#>
<#@ include file="DataTypeTemplate.t4" once="true" #>