<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "IMADTimeValue";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(float),
			"Time",
			"Time"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(float),
			"Value",
			"Value"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="DataTypeTemplate.t4" once="true" #>