<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "ActivateParent";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(FormID),
			"Parent",
			"Parent"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(float),
			"Delay",
			"Delay"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>