
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "DialogTopicData";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(DialogType),
			"Type",
			"Type"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(DialogFlags),
			"Flags",
			"Flags"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>