
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "EntryPointRandRange";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(float),
			"RandMin",
			"RandMin"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(float),
			"RandMax",
			"RandMax"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>