
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "EntryPointActorValMult";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(ActorValues),
			"ActorValue",
			"ActorValue"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(float),
			"Multiplier",
			"Multiplier"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>