
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "InventoryItemData";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(FormID),
			"Item",
			"Item"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(int),
			"Count",
			"Count"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>