
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "NavigationDoorLink";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(FormID),
			"NavigationMesh",
			"NavigationMesh"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(uint),
			"Unknown",
			"Unknown"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>