<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "NavMeshDoorList";
	template.isComparable = false;
	template.isReferenceable = true;

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(List<NavMeshDoor>),
			"Doors",
			"Doors"
			);
	tempField.XMLSubName = "Door";
	tempField.listItemSize = 8;
	template.hashKey = tempField;
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>