<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "NavMeshTriangleList";
	template.isComparable = false;
	template.isReferenceable = false;

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(List<NavMeshTriangle>),
			"Triangles",
			"Triangles"
			);
	tempField.XMLSubName = "Triangle";
	tempField.listItemSize = 16;
	template.hashKey = tempField;
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>