
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "PlaceableWaterData";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(PlaceableWaterFlags),
			"Flags",
			"Flags"
			);
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(FormID),
			"WaterType",
			"WaterType"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>