
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "RaceDefaultVoices";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(FormID),
			"MaleVoice",
			"Male"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(FormID),
			"FemaleVoice",
			"Female"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>