
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "RaceDefaultHairColors";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(HairColor),
			"MaleColor",
			"Male"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(HairColor),
			"FemaleColor",
			"Female"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>