
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "RecordReference";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(FormID),
			"Reference",
			"Reference"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>