<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "RegionPointList";
	template.isComparable = false;
	template.isReferenceable = false;

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(List<XYFloat>),
			"Points",
			"Points"
			);
	tempField.XMLSubName = "Point";
	tempField.listItemSize = 8;
	template.hashKey = tempField;
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>