
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "RelatedCameraPaths";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(FormID),
			"Parent",
			"Parent"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(FormID),
			"PreviousSibling",
			"PreviousSibling"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>