
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "ThresholdData";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(uint),
			"TriggerThreshold",
			"TriggerThreshold"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(FormID),
			"Effect",
			"Effect"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>