
<#@ output extension=".cs" #>
<#	
	ClassTemplate template = new ClassTemplate();
	template.ClassName = "WeatherSound";

	ClassField tempField;

	tempField = 
		new ClassField(
			typeof(FormID),
			"Sound",
			"Sound"
			);
	template.hashKey = tempField;
	template.Fields.Add(tempField);

	tempField = 
		new ClassField(
			typeof(WeatherType),
			"Type",
			"Type"
			);
	template.Fields.Add(tempField);
#>
<#@ include file="SubrecordTemplate.t4" once="true" #>